<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="panda.li.leavemanage">

    <!-- 设置屏幕兼容 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".activity.Base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/ColorTranslucentTheme">
        </activity>
        <activity
            android:name=".activity.LeaveInfoActivity"
            android:theme="@style/ColorTranslucentTheme">
        </activity>
        <activity
            android:name=".activity.LeaveAddActivity"
            android:theme="@style/ColorTranslucentTheme">
        </activity>

    </application>

</manifest>